@import url('https://fonts.googleapis.com/css2?family=Palanquin&family=Tenor+Sans&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
   font-family: 'Palanquin', 'Tenor Sans', sans-serif !important;
 }

.font-palanquin {
  font-family: 'Palanquin', sans-serif;
}
.font-tenor {
  font-family: 'Tenor Sans', sans-serif;
}
.custom-text-shadow {
  text-shadow: 2px 3px 2.5px rgba(0, 0, 0, 0.3);
}
.small-bullet li::marker {
  font-size: 10px;
  /* smaller bullet */
}
